
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #fff;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    text-decoration: none;
    color:#fff;
  }
  
  
  /* Login & Signup Form */
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color:#cccccc;
    line-height: 1.5;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #57b846;
    line-height: 1.5;
  }
  
  .limiter {
      width: 100%;
      margin: 0 auto;
    }
  
  
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color:#cccccc;
    line-height: 1.5;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #57b846;
    line-height: 1.5;
  }
  
  .limiter {
      width: 100%;
      margin: 0 auto;
    }
    
    .container-login100 {
      /* width: 100%;   */
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      /* background: #fff;   */
    }
    
    .wrap-login100 {
      width: 390px;
      /* background: #fff; */
      /* opacity: 0.8; */
      border: none;
    }
    
    
    /*------------------------------------------------------------------
    [ Form ]*/
    
    .login100-form {
      width: 100%;
      background-color: #333;
      opacity: 0.7;
      overflow: hidden;
      z-index: 9999;
      padding: 4%;
    }
    
    
    /*------------------------------------------------------------------
    [ Input ]*/
    
    .wrap-input100 {
      width: 100%;
      position: relative;
      border-bottom: 2px solid #d9d9d9;
    }
    
    .input100 {
      font-family: Poppins-SemiBold;
      font-size: 18px;
      color: #fff; /*#555555;*/
      line-height: 1.2;
    
      display: block;
      width: 100%;
      height: 52px;
      background: transparent;
      padding: 0 5px;
      margin-top: 28px;
    }
    
    /*------------------------------------------------------------------
    [ Button ]*/
    .container-login100-form-btn {
      margin: 50px auto;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .login100-form-btn {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;
    
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      background-color: #000000;
      border-radius: 25px;  
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
    
    .login100-form-btn:hover  {
      background-color: #fff;
      color: #000000;
      box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    }
    
    
    /*//////////////////////////////////////////////////////////////////
    [ Login more ]*/
    .login-more li {
      position: relative;
      padding-left: 16px;
    }
    
    .login-more li::before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #cccccc;
      top: 45%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
    }
  
    .login100-form .f-right{
      text-align: right;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 56px;
      margin-top: -62px;
      font-family: sans-serif;
    }