<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method="POST" [formGroup]="loginForm">
          <div class="logo"></div><div class="logo-title f-right">Travelogue</div>

          <div *ngIf="errorMessage"  class="error-text">
              {{errorMessage}}
          </div>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter Email">
						<input class="input100" type="text" name="email" formControlName="email" placeholder="Email">
            <!-- <span class="focus-input100" data-placeholder="email"></span> -->
              <div *ngIf="submitted && f.email.errors?.required" class="error-text">
                Email is required
              </div>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="pass" formControlName="password" placeholder="Password">
            <!-- <span class="focus-input100" data-placeholder="Password"></span> -->
            <div *ngIf="submitted && f.password.errors?.required" class="error-text">
                Password is required
              </div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="register()">
							Login
						</button>
					</div>

					<ul class="login-more p-t-190">
						<!-- <li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								email / Password?
							</a>
						</li> -->

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a routerLink="/signup" class="txt2">
								Sign up
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
